# Ignore build, bin, and obj directories
build/
bin/
obj/

# Ignore all .csproj files
*.csproj
/.vs/prn212/FileContentIndex
/.vs/PRN212/v17/.wsuo
/.vs/PRN212/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/PRN212/v17/.wsuo
/.vs/PRN212/v17/DocumentLayout.json
